li span.icon {
  color: #ccc;
  z-index: 1000;
  cursor: pointer;
}

  li span.icon.ion-close {
    position: absolute;
    right: 20px;
  }

    li span.icon.ion-close:hover {
      color: #ad2245;
    }

  li span.icon.ion-navicon-round {
    position: absolute;
    left: 20px;
    line-height: 60px;
  }

  h1 span.icon {
    float: left;
    margin-left: 20px;
  }

  h1 span.icon:hover {
    cursor: pointer;
  }
