li span.icon {
  color: #ccc;
  z-index: 1000;
}

  li span.icon.ion-close {
    position: absolute;
    right: 20px;
  }

    li span.icon.ion-close:hover {
      color: #ad2245;
    }

  li span.icon.ion-chevron-up, li span.icon.ion-chevron-down, li span.icon.ion-chevron-right {
    position: absolute;
    left: 20px;
    line-height: 30px;
  }

    li span.icon.ion-chevron-up {
      top: 4px;
    }

    li span.icon.ion-chevron-down {
      bottom: 4px;
    }

		li span.icon.ion-chevron-right {
			top: 14.5px;
		}

    li span.icon.ion-chevron-up:hover, li span.icon.ion-chevron-down:hover {
      color: #4a89ef;
    }

  h1 span.icon {
    float: left;
    margin-left: 20px;
  }

  h1 span.icon:hover {
    cursor: pointer;
  }
