<header>
  <h1>
    <a href="/">Blocitoff</a>
    <span class="icon ion-navicon" ng-show="head.userId" onclick="$('.page-container').toggleClass('menu-open')"></span>
    <span class="icon ion-log-in" ng-click="head.login()" ng-hide="head.userId"></span>
    <span class="icon ion-log-out" ng-click="head.logout()" ng-show="head.userId"></span>
  </h1>
</header>

<nav class="menu">
  <ul>
    <li style="text-transform: uppercase; font-weight: bold;">My lists</li>
    <li ng-repeat="group in head.groups" ng-click="head.setGroup(this)" onclick="$('.page-container').toggleClass('menu-open')">
      <span>{{ group.name }}</span>
      <span class="icon ion-close" ng-click="head.deleteGroup(this)"></span>
    </li>
    <span class="icon ion-plus-circled" ng-click="head.createNewGroup()"></span>
  </ul>
</nav>
