<div class="main-content">
  <ul>
    <li class="tasks" ng-repeat="task in (filteredTasks = (home.tasks | orderBy : 'rank'))">
      <span class="icon ion-chevron-up" ng-click="home.moveUpTask(this)"></span>
      <span class="icon ion-chevron-down" ng-click="home.moveDownTask(this)"></span>
      <span class="list-text">{{ task.content }}</span> {{ task.rank }}
      <span class="icon ion-close" ng-click="home.deleteTask(this)"></span>
    </li>
  </ul>

  <div id="newTaskDiv">
    <!-- closing tag on second line to remove extra space between inline blocks -->
    <input type="text" ng-model="newTask" autofocus="true" ng-keypress="home.createNewTask($event)"
    /><button id="newTaskButton" ng-click="home.createNewTask()">Add</button>
  </div>
</div>
