<ul>
  <li ng-repeat="task in home.tasks | orderBy : 'index'">
    <i class="icon ion-chevron-up" ng-click="moveUpTask(this)"></i>
    <i class="icon ion-chevron-down" ng-click="moveDownTask(this)"></i>
    <span>{{ task.content }}</span> {{ task.index }}
    <i class="icon ion-close" ng-click="deleteTask(this)"></i>
  </li>
</ul>

<div id="newTaskDiv">
  <!-- closing tag on second line to remove extra space between inline blocks -->
  <input type="text" ng-model="newTask" autofocus="true" ng-keypress="createNewTask($event)"
  /><button id="newTaskButton" ng-click="createNewTask()">Add</button>
</div>
