<ng-include src="'/templates/head.html'"></ng-include>

<!-- user logged in -->
<div class="main-content" ng-show="list.uid" onclick="$('.page-container').removeClass('menu-open')">
  <div ng-show="list.currentGroup.name && list.uid">
    <h2>{{ list.currentGroup.name }}</h2>
  </div>

  <ul id="sortable" ui-sortable="list.sortableOptions" ng-model="list.tasks">
    <li class="tasks" ng-repeat="task in list.tasks" ng-show="task.groupId === list.currentGroup.id">
      <span class="icon ion-navicon-round handle"></span>
      <span class="list-text">{{ task.content }}</span>
      <span class="icon ion-close" ng-click="list.deleteTask(this)"></span>
    </li>
  </ul>

  <div id="newTaskDiv">
    <!-- closing tag on second line to remove extra space between inline blocks -->
    <input type="text" ng-model="newTask" autofocus="true" ng-keypress="list.createNewTask($event)"
    /><button id="newTaskButton" ng-click="list.createNewTask()">Add</button>
  </div>
</div>

<!-- user NOT logged in -->
<div class="main-content" ng-hide="list.uid" onclick="$('.page-container').removeClass('menu-open')">
  <h1>Welcome to Blocitoff!</h1>
  <p>Make and organize your lists!</p>
</div>
